*
	{
	  margin:0;
	  padding:0;
	}


.about {
	position: absolute;
	margin-top: 3rem;
	margin-left: 11rem;
	color:green;
	letter-spacing: 6px;
	font-size: 25px;
   }

.container {
  		   position: relative;
 		   text-align: center;
  		   color: white;
  		   width: 100%;
  		   height: 100%;
		}

	img {width: 100%;
		height:100vh;}


.intro {
 			position: absolute;
 			width:350px;
 			font-size: 15px;
 			color:green;
 			margin-top: 9rem;
			margin-left: 4rem;
			text-align: left;
			letter-spacing: 3px;
			line-height: 25px;
		}



.moto1 {
 			position: absolute;
 			width:230px;
 			font-size: 15px;
 			color:green;
 			margin-top: 16rem;
			margin-left: 4rem;
			text-align: center;
			letter-spacing: 3px;
			line-height: 25px;
		}


.moto2 {
 			
			position: absolute;
 			width:400px;
 			font-size: 15px;
 			color:green;
 			margin-top: 26rem;
			margin-left: 4rem;
			text-align: center;
			letter-spacing: 3px;
			line-height: 25px;
		}